modules = ["nodejs-20", "python-3.12", "web"]

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 9999
externalPort = 3001

[[ports]]
localPort = 26223
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 60000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
CURRENT_SEASON = "1"
SEASON_TROPHY_ADDRESS = "0x2ec42214a3947abf68ac932c4047c652351317c3"
VITE_TROPHY_CONTRACT_ADDRESS = "0x2ec42214a3947abf68ac932c4047c652351317c3"
ACHIEVEMENT_BADGE_ADDRESS = "0x5DD439654C279423696254f52e30c7456689c88F"
